<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel-Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="../stylesheets/jquery.loader.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
 <main role="main" class="landing">
   
 </main>
 <main role="main" class="signUp">
   
</main>
<main role="main" class="logIn">
   
</main>
<main role="main" class="profile">
   
</main>
<main role="main" class="newTrip">
   
</main>
<main role="main" class="activitySelection">
   
</main>
<main role="main" class="tripPlanner">
   
</main>
<main role="main" class="dayView">
   
</main>
<main role="main" class="packingList">
    
</main>

 <footer role="contentinfo">
    <ul>
        <li><p id="copyright">© 2018 Ryan Moll</p></li>
        <li><a href="mailto:rmmoll23@gmail.com?Subject=Hello" title="Send me an email">Email</a></li>
        <li><a href="https://www.linkedin.com/in/ryan-moll-a876ba70/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/rmmoll23" title="Check out my code on GitHub" target="_blank">GitHub</a></li>
    </ul>      
 </footer>

 <script
 src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous">
</script>
<!-- <script src="../javascripts/jquery.loader.js"></script> -->
<script src="../javascripts/main.js"></script>

</body>

</html>