<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travel-Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="../stylesheets/jquery.loader.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>
 <nav role="navigation">
        <ul>
            <li class="left">Travel Planner</li>
            <!-- <li class="right"><a href="default.asp">Home</a></li>
            <li class="right"><a href="news.asp">News</a></li>
            <li class="right"><a href="contact.asp">Contact</a></li>
            <li class="right"><a href="about.asp">About</a></li> -->
         </ul>
 </nav>
 <main role="main" class="landing">
   
 </main>
 <main role="main" class="signUp">
        <form>
                <div class="container">
                  <h1>Sign Up</h1>
                  <p>Please fill in this form to create an account.</p>

                  <label for="name">First Name</label>
                  <input type="text" placeholder="Enter First Name" name="name" required><br><br>

                  <label for="email">Email</label>
                  <input type="text" placeholder="Enter Email" name="email" required><br><br>
              
                  <label for="password">Password</label>
                  <input type="password" placeholder="Enter Password" name="password" required><br><br>
              
                  <label for="password-confirm">Confirm Password</label>
                  <input type="password" placeholder="Confirm Password" name="password-confirm" required><br><br>
                  <button class="button-left" type="button">Cancel</button>
                  <button class="button-right" type="submit">Submit</button>
                  

                  <p>Already have an account? <a href="#">Log in</a></p>
                </div>
        </form>
   
</main>
<main role="main" class="logIn">
        <form>
                <div class="container">
                  <h1>Log in</h1>
                  <p>Please fill in this form to create an account.</p>
              
                  <label for="email">Email</label>
                  <input type="text" placeholder="Enter Email" name="email" required><br><br>
              
                  <label for="password">Password</label>
                  <input type="password" placeholder="Enter Password" name="password" required><br><br>
                  <button class="button-left" type="button">Cancel</button>
                  <button class="button-right" type="submit">Submit</button>
              
                  <p>Don't have an account? <a href="#">Sign up</a></p>
                </div>
        </form>
   
</main>
<main role="main" class="profile">
   
</main>
<main role="main" class="newTrip">
   
</main>
<main role="main" class="activitySelection">
   
</main>
<main role="main" class="tripPlanner">
   
</main>
<main role="main" class="dayView">
   
</main>
<main role="main" class="packingList">

</main>

 <footer role="contentinfo">
    <ul>
        <li><p id="copyright">© 2018 Ryan Moll</p></li>
        <li><a href="mailto:rmmoll23@gmail.com?Subject=Hello" title="Send me an email">Email</a></li>
        <li><a href="https://www.linkedin.com/in/ryan-moll-a876ba70/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/rmmoll23" title="Check out my code on GitHub" target="_blank">GitHub</a></li>
    </ul>      
 </footer>

 <script
 src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous">
</script>
<!-- <script src="../javascripts/jquery.loader.js"></script> -->
<script src="../javascripts/main.js"></script>

</body>

</html>