
body {
  /* background-image: url(../images/moraineLake2.jpeg); */
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  color: black;
}

.hidden {
  display: none;
}

#ui-datepicker-div {
  padding: 5px;
  background: lightgrey;
  border: black solid 2px;
}

form {
  margin: 100px 0 80px 0;
}

button {
  border: black solid 1px;
  background-color: lightblue;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 7px 5px 7px
}

button:hover {
  cursor: pointer;
}

a {
  padding-left: 5px;
  color: lightseagreen;
}

/* landingPage */

.landing {
  text-align: center;
  height: 100%;
}

.fadeOutHeader {
  color: lightblue;
}

.landingTop {
  height: 400px;
  background-image: url(../images/moraineLake2.jpeg);
  background-size: cover;
  color: lightseagreen;
  margin-top: 70px;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.landingBottom {
  background-color: white;
}

.landingBottom button {
  margin: 15px 15px 25px 15px;
}

nav {
  border-bottom: black solid;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px;
  z-index: 1000;
}

nav ul {
  margin: 0;
  padding: 0 15px 0 0;
}

nav h1 {
  padding: 0;
}

.logo {
  height: 30px;
  width: 30px;
}

.landingList li {
  margin: 15px;
  border: lightseagreen solid;
  padding: 10px;
}

.landingList {
  padding: 50px;
}

.landingBottom h2 {
  border-bottom: lightseagreen solid;
  width: max-content;
  margin: 0 auto;
}

/* formPages */

.container {
  position: relative;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  border: black solid;
  padding: 15px;
  color: black;
}

.container h1 {
  border-bottom: lightseagreen solid;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 5px;
}

.container input {
  display: inline-block;
  position: absolute;
  right: 20px;
  border: black solid 1px;
  padding: 5px;
}

.button-right {
 margin-left: 30px;
}

.button-left {
margin-right: 30px;
}

label {
  display: inline-block;
  font-weight: bold;
  position: absolute;
  left: 20px;
}

li {
  list-style-type: none;
  display: inline;
}

h1, h2 {
  margin: 0; 
  padding: 15px;
}

/* profile */

.profile {
  text-align: center;
  margin-top: 90px;
}

.profile ul {
  border: black solid;
  width: max-content;
  padding: 15px;
  margin: 0 auto;
}

.profile li {
  display: block;
}

.profile button {
  margin: 30px 0 30px 0;
}

/* newTrip */

.newTrip h1{
  margin-bottom: 30px;
}

.newTrip .container {
  margin-bottom: 50px;
  padding-bottom: 25px;
}

/* activitySelection */

.weatherContainer {
  border: lightblue solid;
  display: inline-block;
  width: 8%;
  margin-top: 10px;
  padding: 15px;
  min-width: 100px;
  max-width: 350px;
}

span {
  color: lightseagreen;
}

.activitySelection p {
  margin-top: 5px;
  margin-bottom: 0;
}

.activitySelection h1 {
  border-bottom: solid lightseagreen;
  width: max-content;
  margin: 0 auto 30px auto;
}

.activitySelection {
  text-align: center;
  margin-top: 90px;
}

.activitySelection button {
  margin: 30px;
}

.restaurantSearch, .activitySearch, .hikeSearch {
  display: inline-block;
  height: 400px;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  min-width: 300px;
}

.restaurantContainer, .activityContainer, .hikeContainer {
  border: lightblue solid;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
  padding: 15px 0 15px 0;
}

.restaurantResults, .activityResults, .hikeResults {
  border: black solid;
  display: inline-block;
  margin-top: 10px;
  width: 90%;
  text-align: left;
  padding: 5px;
}



/* tripPlanner */

.tripPlanner {
  text-align: center;
  padding: 20px;
  margin-top: 90px;
}

.tripPlanner h1,h3 {
  border-bottom: solid lightseagreen;
  width: max-content;
  margin: 0 auto;
}

.dayContainer {
  border: lightseagreen solid;
  display: inline-block;
  width: 20%;
  margin-top: 10px;
  padding: 15px;
  min-width: 100px;
  max-width: 350px;
}

.dayContainer:hover {
  cursor: pointer;
}

/* dayView */

.dayView {
  text-align: center;
  margin-top: 90px;
}

.dayHeader {
  display: inline-block;
}

.dayView p {
  margin: 0 auto;
  padding: 0 0 10px 0;
}

.dayView h2 {
  border: none; 
  margin: 0;
  padding: 0 0 10px 0;
}

.dayView h1 {
  border-bottom: solid lightseagreen;
  margin-bottom: 30px;
}

.dayActivity {
  border: solid black;
  text-align: left;
  margin: 25px;
  padding: 20px;
  position: relative;
}

.button-notes {
  position: absolute;
  right: 20px;
}

.notesInput {
  position: absolute;
  right: 150px;
  height: 100px;
  width: 300px;
  top: 25%;
}

/* packingList */

.packingList {
  text-align: center;
  margin-top: 90px;
}

.packListHeaders {
  border-bottom: solid lightseagreen;
  width: max-content;
  margin: 0 auto 15px auto;
  padding-bottom: 10px;
}

.packingList ul {
  text-align: left;
}

.packingList li {
  display: block;
}

.delete {
  display: inline;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.delete:hover {
  color: red;
}

.packListContainer {
  border: lightseagreen solid;
  display: inline-block;
  width: 25%;
  margin: 10px auto 10px auto;
  padding: 15px;
  height: 300px;
  min-width: 250px;
}

.listBox {
  overflow: scroll;
  height: 225px;
  position: relative;
}

.packingList button {
  margin-left: 10px;
}

/* footer */

footer {
  text-align: center;
  border-top: black solid 2px;
  background-color: white;
}

footer ul {
  margin: 0 auto;
  padding: 15px;
}


@media only screen and (max-width: 800px) {

  .notesInput {
    width: 225px;
  }
  .landingBottom li {
    margin: 0;
  }

  .landingTop {
    background-image: url(../images/river.jpg);
    background-size: cover;
  }

  input {
    border: solid lightgrey;
  }

}


@media only screen and (max-width: 600px) {

  .landingBottom li {
    list-style-type: none;
    display: block;
  }

  .packListContainer {
    width: 70%;
    display: block;
  }

  .notesInput {
    display: block;
    margin: 10px 0 10px 0;
    position: static;
  }

  .button-notes {
    position: static;
  }

  .button-delete {
    position: absolute;
    right: 15px;
    top: 15px;
  }
} 

@media only screen and (max-width: 450px) {

  button {
    font-size: 12px;
  }
  
  .activitySelection h1 {
    font-size: 20px;
  }

  .packListHeaders {
   font-size: 20px;
  }

  .dayHeader {
    font-size: 20px;
  }

  .dayView p {
    font-size: 12px;
  }

  .activitySelection button {
    margin: 100px 0 50px 0;
  }

  .restaurantSearch, .activitySearch, .hikeSearch {
    display: block;
    height: 400px;
    width: 80%;
    margin: 120px auto 30px auto;
    padding: 15px;
  }

  .activitySelection, .tripPlanner, .dayView, .packingList {
    margin-top: 160px;
  }

  .weatherContainer {
    width: 30%;
  }

  nav li {
    list-style-type: none;
    display: block;
  }

  .landingTop h2 {
    padding: 70px;
  }

  .landingBottom h2 {
    padding: 10px;
  }

  .landingList {
    padding: 10px;
  }

  .landing {
    height: auto;
  }

  .dayContainer {
    font-size: smaller;
  }

  .container {
    width: 200px;
    font-size: 10px;
  }

  .tripPlanner h1 {
    font-size: x-large;
  }

  .notesInput {
    width: 200px;
  }

  .container label {
    display: block;
    text-align: left;
    position: static;
  }

  .container input {
    display: block;
    position: static;
  }



} 