body {
  background-image: url(https://c2.staticflickr.com/2/1330/876118224_f6bb6ff2eb_o.jpg);
  background: cover;
  font-family: 'Neucha', cursive;
}

.container {
  position: relative;
  margin: 10px auto 10px auto;
  text-align: center;
  width: 40%;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.container input {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.button-right {
 margin-left: 30px;
}

.button-left {
margin-right: 30px;
}

label {
  display: inline-block;
  font-weight: bold;
  position: absolute;
  left: 20px;
}

footer {
  text-align: center;
  border-top: black solid 2px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

nav {
  border-bottom: black solid 2px;
}

li {
  list-style-type: none;
  display: inline;
}



@media only screen and (max-width: 320px) {

} 